.main {
  background: #ededed;
  position: fixed;
  top: 0;
  width: 100%;
}
.containerGrid {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-items: center;
  align-items: center;
} 

.titleMain {
  font-size: 1.5rem;
}

.link {
  text-decoration: none;
  color: #575757;
}

.navOpen {
  background: #ededed;
}
.info {
  font-size: 1.1rem;
  line-height: 1.3;
}

.closeMenu {
 text-align: center;
 font-size: 1.1rem;
 padding-bottom: 20px;
 cursor: pointer;
}

.listItemContainer {
  margin: 15px 30px;
  list-style-type: none;
  font-weight: 600;
  font-size: 1.3rem;
}


@media(min-width:768px) {
  .info {
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 1.3rem;
  }

  .closeMenu {
    font-size: 1.5rem;
  }
}