.spaceMargin{
    margin: 20px auto;
    font-weight: 700;
}

.spaceMarginNormal {
    margin: 10px auto;
}

.letsGoBTN {
    width: 50%;
    padding: 20px 20px;
    margin: 40px auto;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 11px;
    background: #2f7c68;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.CTAtag {
    margin: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
    color: #575757;
}
.subTitle {
    text-align: center;
    font-size: 1.3rem;
    margin: 40px 0 10px 0;
    color: #2e2e2e;
}

.why {
    text-align: center;
    font-size: 1.3rem;
    color: #2e2e2e;
}

.infoSectionTag {
    text-align: center;
    margin: 20px 30px 20px 30px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #575757;
    font-size: 1rem;
    font-weight: 700;
} 

.introContent {
    width: 50%;
    margin: 20px auto;
    text-align: start;
    line-height: 1.7;
    text-transform: uppercase;
    color: #575757;
    font-size: 0.9rem;
}

.introContent span {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.7;
}

.formula {
    text-align: center;
    margin: 20px auto 40px auto;
    line-height: 1.7;
    text-transform: uppercase;
    color: #474747;
    font-size: 1.5rem;
    font-weight: 700;
}

.mainContent {
    margin: 20px 30px;
    line-height: 1.7;
    font-size: 1.1rem;
    color: #575757;
} 

.mainProtocal {
    text-align: start;
    margin: 10px 20px 20px 20px;
    line-height: 1.7;
    text-transform: uppercase;
    color: #575757;
    font-size: 0.9rem;
}


.mainContentThick {
    text-align: start;
    margin: 20px 40px;
    line-height: 1.7;
    text-transform: uppercase;
    color: #575757;
    font-size: 0.9rem;
    font-weight: 700;
}

.mainContentThickLarge {
    margin: 20px;
    text-align: start;
    line-height: 1.5;
    text-transform: uppercase;
    color: #414141;
    font-size: 1.3rem;
    font-weight: 700;
}

.mainContent span{
    font-weight: 700;
    font-size: 1.3rem;
}

.mainContent p{
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
}

.questions {
    margin: 40px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: #575757;
    line-height: 1.5;
}

.theHow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 700;
    color: #f5f3f3;
}

.subjectTitle {
    text-align: start;
    font-size: 1.3rem;
    margin: 40px 40px 10px 30px;
    color: #2e2e2e;
    text-transform: uppercase;
}

.sideNote {
    text-align: start;
    font-size: 1.3rem;
    margin: 40px 20px 20px 20px;
    color: #2e2e2e;
}

.listI {
    margin: 10px;
    text-align: start;
    text-transform: uppercase;
    color: #575757;
    font-size: 1rem;
    font-weight: 700;
}

/* IMAGES */
.matrixGreenContainer {
    position: relative;
}

.puzzlePieces {
    margin: 20px auto;
}

.learningGirl {
    width: 80%;
    margin: auto;
}

.phrase {
    margin: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #717171;
    font-size: 1.1rem;
    font-weight: 700;
}

.greenComputer {
    width: 80%;
    margin: auto;
}

.imageWhoami {
   width: 100%;
   margin: auto; 
}

@media(min-width: 768px) {

    .letsGoBTN {
        font-size: 1.3rem;
    }
    .heroContainer {
        display: flex;
        justify-content: center;
    }

    .matrixGreenContainer {
        display: flex;
        justify-content: center;
        margin: 50px auto 80px auto;
    }

    .puzzlePieces {
        width: 50%;
        margin: 20px auto;
    }
    
    .learningComputer {
        width: 50%;
        margin: 20px auto;
    }
    .theHow {
        font-size: 5rem;
    }

    .learningGirl {
        display: flex;
        justify-content: center;
        margin: 50px auto;
    } 

    .greenComputer {
        display: flex;
        justify-content: center;
        margin: 20px auto;
    }

    .imageWhoami {
        width: 50%;
        margin: auto;
    }

    .intorContent {
        width: 50%;
        margin: 20px auto 40px auto;
        font-size: 1.3rem;
    }

    .mainContent {
        width: 50%;
        margin: 40px auto;
        font-size: 1.3rem;
        line-height: 2;
    }

    .mainContentThick {
        margin: 20px 400px;
        text-align: center;
        font-size: 1.3rem;
    }

    .mainContentThickLarge {
        width: 50%;
        margin: 20px auto;
        font-size: 1.7rem;
        text-align: center;
    }

    .mainProtocal {
        text-align: center;
    }

    .orderList {
       width: 50%;
       margin: 20px auto;

    }

    .subjectTitle {
        width: 50%;
        margin: 40px auto;
        text-transform: uppercase;
    }

    .phrase {
        font-size: 1.3rem;
    }

    .questions {
        width: 50%;
        margin: 40px auto;
        text-align: center;
    }
}