.linkBTN {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 100%;
  margin: auto;
}

.displayNone {
  display: none;
}

.title {
  width: 70%;
  text-align: center;
  margin: 5px auto;
  font-size: 1.1rem;
}

.titleHeader {
  width: 80%;
  margin: 100px auto 10px auto;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.5;
}

.imageDolphinContainer{
  width: 50%;
  margin: auto;
}

.imageDolphin {
  width: 100%;
  height: auto;
}

.contentTag {
  margin: 20px;
}

.containerBanner {
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center; 
  background-color: rgb(91, 157, 30);
  justify-content: center;
}

.imageIdeaIcon {
  width: 80%;
  height: auto;
}

.banner {
  margin: 20px 0;
  padding: 12px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
}

@media(min-width: 768px) {
  
  .imageDolphinContainer {
    width: 20%;
    margin: auto;
    padding: 20px;
  }

  .titleHeader{
    margin-top: 100px; 
    font-size: 2rem;
    font-weight: 500;
  } 

  .title {
    width: 50%;
    margin: 10px auto;
    font-size: 1.7rem;
  }

  .titleBlog {
    font-size: 1.3rem;
  }

  .imageCogsContainer {
    width: 70%;
    margin: auto;
  }

}

@media(min-width:768px) {
  .containerBlogMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: 20px auto 40px auto;
  }

  .containerBlog {
    margin: 20px;
  }
  
}




 